.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}


.board {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  margin: 0 auto
}

h1{
text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}